

label{
  text-align: left;
  display: block;
  margin-left: 20px;
}
input{
  width: 60%;
  padding: 10px;
  border: 2px solid #bdc3c7;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
button{
  color: #555;
}
  

